<div class="container text-center">
    <%# <h1><a href="http://localhost:3000/posts" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Posts</a></h1> %>
</div>
<h1><a href="http://localhost:3000/posts" class="btn btn-primary btn-lg active"
    role="button" aria-pressed="true">See Posts</a></h1>
<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4>Blog Your Post.</h4>
            <div class="card-description">
                <p>This Site Under Construction!!!</p>
            </div>
        </div>
    </div>
</div>
v
<div class="card mt-3">
    <div class="card-body">
        <div class="card-title">
            <h4>See Published blog.</h4>
            <div class="card-description">
                <p>This Site Under Construction!!!</p>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <div class="card-title">
            <h4>We Come Back with Fully Website - Within a Month!!.</h4>
            <div class="card-description">
                <p>This Site Under Construction!!!</p>
            </div>
        </div>
    </div>
</div>

